<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449612563741-kn5mtvtsp2fd2i93rss5l5o8ccblr9nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449612563741-kn5mtvtsp2fd2i93rss5l5o8ccblr9nm</string>
	<key>API_KEY</key>
	<string>AIzaSyCyhyInZd574OnCs11OQ_n2ge_hGTgRLLE</string>
	<key>GCM_SENDER_ID</key>
	<string>449612563741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.exigentdev.four-gospels</string>
	<key>PROJECT_ID</key>
	<string>four-gospels-exigent</string>
	<key>STORAGE_BUCKET</key>
	<string>four-gospels-exigent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449612563741:ios:40c434e03306f7bd918df4</string>
</dict>
</plist>